{% extends 'base.html.twig' %}

{% block title %}Index page!{% endblock %}

{% block body %}
    {{ include('main/layouts/header.html.twig') }}

    <h3 class="text-dark mt-2 ml-3 text-left home-logo">NEWS<span class="yellow-text">BLOG</span></h3>
    <hr>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}

    {% endif %}

    {% for post in posts %}
    <div class="d-flex justify-content-center flex-column news-wrapper mt-3">
        <div class="news-title">
            <h1 href="#">{{ post.title }}</h1>
            <hr>
        </div>
        <div class="news-img">
            <img src="../main/images/news.png" alt="img"></a>
        </div>
        <div class="news-content">
            <p href="#">{{ post.content }}</p>
        </div>
        <th scope="col"><a href="/main/showPost/{{ post.id }}" class="btn btn-sm btn-secondary">show Post</a></th>
    </div>
    {% endfor %}
{% endblock %}