{% extends 'base.html.twig' %}

{% block title %}Index page!{% endblock %}

{% block body %}
    {{ include('main/layouts/header.html.twig') }}

    <h3 class="text-dark mt-2 ml-3 text-left home-logo">NEWS<span class="yellow-text">BLOG</span></h3>
    <hr>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}

    {% endif %}

    {% for post in posts %}
    <div class="container news-wrapper mt-3">
    <div class="row">
        <div class="news-img col-4">
            <img src="../main/images/news.png" alt="img">
        </div>

        <div class="col-8">
        {% for category in post.category %}
            <a href="/main/show-category/{{ category.slug }}" class="post-category">{{ category.category }}</a>
        {% endfor %}
        <a href="/main/showPost/{{ post.slug }}" id="post-link">
        <div class="news-title">
            <h3>{{ post.title }}</h3>
            <hr>
        </div>
        <div class="news-content">
            <p href="#">Desc:{{ post.description }}</p>
        </div>
        </a>
        {#<div class="news-content">#}
            {#<p href="#">{{ post.content }}</p>#}
        {#</div>#}
        </div>
    </div>
    </div>
    {% endfor %}
{% endblock %}