{% extends 'base.html.twig' %}

{% block title %}Index page!{% endblock %}

{% block body %}
    <section class="section-home">
    {{ include('main/layouts/header.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}

    {% endif %}

        <div class="container posts">
            <div class="row">
                {% for post in posts %}

                    <div class="col-lg-4 mt-2">

                        <div class="card" style="width: 23rem;">
                            <a href="/main/showPost/{{ post.slug }}">
                                <img src="{{ asset('uploads/' ~ post.img) }}" class="card-img-top" alt="..." style="height: 18rem;">
                            </a>
                            <div class="card-body" style="height: 10rem;">
                                <a href="/main/showPost/{{ post.slug }}">
                                    <p class="card-text red-hart-font text-center post-title">{{ post.title }}</p>
                                </a>
                                <p class="text-grey time-text text-center red-hart-font">14.11.2018 | <b class="text-dark maven-font">Phil Shackleton</b></p>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>

        <hr>

    </section>
    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>

        {# First post #}
        {#<a href="/main/showPost/{{ first.slug }}" id="post-link">#}
    {#<div class="container first">#}
        {#<div class="row">#}

            {#<div class="col-lg-7 col-sm-10  p-0">#}
                {#<img src="{{ asset('uploads/' ~ first.img) }}" alt="img" class="img-fluid">#}
            {#</div>#}

            {#<div class="col-lg-5 col-sm-12">#}
                {#<h1 class="text-dark asap-font">{{ first.title }}</h1>#}
                {#<hr class="bg-danger">#}
                {#<p class="maven-font">{{ first.description }}We are proud to announce that we have just launched Work in the Web 2020 — our fifth and most ambitious event so far.</p>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
         {#</a>#}
{#------------------#}

{% endblock %}