{% extends 'base.html.twig' %}

{% block title %}Home page!{% endblock %}

{% block body %}
    {{ include('main/layouts/header.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center admin-link-block">
            <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}

    {% endif %}

    {# First post #}
    <section class="first-post" id="first-post">
        <a href="/main/showPost/{{ first.slug }}" id="post-link">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 first-img">
                        <img src="{{ asset('uploads/' ~ first.img) }}" alt="img" class="img-fluid anim1">
                    </div>

                    <div class="col-lg-6 first-content">
                        <h1 class="text-dark asap-font first-h1 anim1">{{ first.title }}</h1>
                        <hr class="bg-danger first-hr">
                        <p class="maven-font first-p anim1">
                            <span class="first-span asap-font">{{ first.description }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </section>

    <section class="post-2 justify-content-center" data-aos="fade-in">
        <div class=" show-on-scroll " id="firstBox">
            <a href="/main/showPost/{{ third.slug }}" id="post-link">
                <h1 class="text-dark asap-font d-flex justify-content-center" data-aos="fade-right"
                    data-aos-duration="3000">{{ third.title }}</h1>
                <img src="{{ asset('uploads/' ~ third.img) }}" alt="img" class="img-fluid post-2-img " data-aos="fade-up"
                     data-aos-duration="3000">
                <span class="third-span" data-aos="fade-left">{{ third.description }}</span>
            </a>
        </div>
    </section>

    <section class="post-3" style="background-image: url({{ asset('uploads/' ~ fourth.img) }});" data-aos="fade-in">
        <div class="">
            <a href="/main/showPost/{{ fourth.slug }}" id="post-link">
                <h1 class="maven-font" data-aos="fade-left">{{ fourth.title }}</h1>
                <span class="" data-aos="fade-right">{{ fourth.description }}</span>
            </a>
        </div>
    </section>

{# Нет адаптивности из-за этого поста #}
    <section class="second-post" id="second-post">
        <a href="/main/showPost/{{ second.slug }}" id="post-link">
            <div class="container-fluid">
                <div class="row">
                    <div class="second-content col-lg-6">
                        <h1 class="text-dark asap-font second-h1">{{ second.title }}</h1>
                        <hr class="bg-danger second-hr">
                        <p class="maven-font second-p">
                            <span class="second-span anton-font-font">"{{ second.description }}descriptiondescriptiondescripti description"</span>
                            <span class="second-hr"></span>
                        </p>
                    </div>

                    {#<div class="second-img col-lg-6">#}
                        <img src="{{ asset('uploads/' ~ second.img) }}" alt="img" class="anim1 img-fluid second-img ">
                    {#</div>#}
                </div>
            </div>
        </a>
    </section>

    {{ include('main/layouts/footer.html.twig') }}

    {#<button id="to-top">to top</button>#}

    {#</section>#}
    {#<div class="d-flex justify-content-center">#}
        {#<div class="navigation">#}
            {#{{ knp_pagination_render(posts) }}#}
        {#</div>#}
    {#</div>#}




{% endblock %}