{% extends 'base.html.twig' %}

{% block title %}Index page!{% endblock %}

{% block body %}
    <section class="section-home">
    {{ include('main/layouts/header.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}

    {% endif %}

    <h2 class="text-center anton-font mt-4">{{ tag.tag }}</h2>

    {% for post in tag.post %}
        <div class="container news-wrapper mt-3">
            <div class="row">
                <div class="col-4">
                    <img src="{{ asset('uploads/' ~ post.img) }}" alt="img" class="category-img img-fluid">
                </div>

                <div class="col-8">
                    {#{% for category in post.category %}#}
                    {#<a href="/main/show-category/{{ category.slug }}" class="post-category mb-1">{{ category.category }}</a>#}
                    {#{% endfor %}#}
                    <a href="/main/showPost/{{ post.slug }}" id="post-link">
                        <div class="news-title">
                            <h3>{{ post.title }}</h3>
                            <hr>
                        </div>
                        <div class="news-content">
                            <p href="#">{{ post.description }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</section>

{% endblock %}