{% extends 'base.html.twig' %}

{% block title %}Index page!{% endblock %}

{% block body %}
    {{ include('main/layouts/header.html.twig') }}

    <h3 class="text-dark mt-2 ml-3 text-left home-logo">NEWS<span class="yellow-text">BLOG</span></h3>
    <hr>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}

    {% endif %}

    <h2 class="text-center">{{ tag.tag }}</h2>
    {% for post in tag.post %}

            <div class="d-flex justify-content-center flex-column news-wrapper mt-3">
       <a href="/main/showPost/{{ post.slug }}" id="post-link">
                <div class="news-title">
                    <h1>{{ post.title }}</h1>
                    <hr>
                </div>
           <div class="col-4">
               <img src="{{ asset('uploads/' ~ post.img) }}" alt="img" class="news-img">
           </div>
                {#<div class="news-content">#}
                    {#<p href="#">Desc:{{ post.description }}</p>#}
                {#</div>#}
                <div class="news-content">
                    <p href="#">{{ post.content }}</p>
                </div>
        </a>
                {% for category in post.category %}
                    <a href="/main/show-category/{{ category.slug }}">
                        <h2 class="post-category">{{ category.category }}</h2>
                    </a>
                {% endfor %}
                {% for tag in post.tags %}
                    {#<button class="btn btn-success col-1">{{ tag.tag }}</button>#}
                    <a href="/main/show-tag/{{ tag.slug }}"><span class="badge badge-secondary col-1">{{ tag.tag }}</span></a>
                {% endfor %}
            </div>
    {% endfor %}

{% endblock %}