{% extends 'base.html.twig' %}

{% block title %}Index page!{% endblock %}

{% block body %}
    {{ include('main/layouts/header.html.twig') }}

    <h3 class="text-dark mt-2 ml-3 text-left home-logo">NEWS<span class="yellow-text">BLOG</span></h3>
    <hr>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}

    {% endif %}

<div class="d-flex justify-content-center flex-column post-wrapper">
    <h1 class="text-center">{{ post.title }}</h1>
    <div class="">
        <img src="{{ asset('uploads/' ~ post.img) }}" alt="img" class="post-img">
    </div>
    <p>{{ post.content }}</p>

    {% for category in post.category %}
      <a href="/main/show-category/{{ category.slug }}" class="post-category">
          <h2 class="post-category">{{ category.category }}</h2>
      </a>
    {% endfor %}

    {% for tag in post.tags %}
       {#<a href="/main/show-tag/{{ tag.slug }}"><h1 class="text-success">{{ tag.tag }}</h1></a>#}
    <a href="/main/show-tag/{{ tag.slug }}"><span class="badge badge-secondary col-1">{{ tag.tag }}</span></a>
    {% endfor %}
    <div class="container">
        <div class="row bootstrap snippets">
            <div class="col-md-6  col-sm-10">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-body">

                            {% if is_granted('ROLE_USER') %}
                                <div class="panel-heading">
                                    Comment panel
                                </div>
                                <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                                <br>
                                <button type="button" class="btn btn-info pull-right">Post</button>
                            {% endif %}

                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list">
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                        <strong class="text-success">@MartinoMont</strong>

                                        {#<p>{{ coment }}</p>#}
                                        {# Likes #}
                                        {#<div class="show-article-title-container d-inline-block pl-3 align-middle">#}
                                        {#<span class="pl-2 fa fa-heart-o article-details js-like-article">#}
                                        {#<a href="{{ path('article_toggle_heart', {slug: slug} )}}" class="fa fa-heart-o like-article js-like-article"></a>#}
                                        {#</span>#}
                                        {#</div>#}

                                        <span class="pl-2 article-details">
                                <span class="js-like-article-count">0</span>
                                    <a href="#" class="fa fa-heart-o like-article js-like-article"></a>
                                            {#{{ path('article_toggle_heart', {slug: slug} )}}#}
                                </span>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}