{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {{ include('admin/layouts/header.html.twig') }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {{ include('admin/layouts/sidebar.html.twig') }}
            </div>

            <div class="main">
                <h1 class="text-center anton-font text-dark">Edit Category</h1>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {#<button type="submit" class="btn btn-primary">Save</button>#}
        {{ form_end(form) }}
    </div>


    {{ include('admin/layouts/footer.html.twig') }}
{% endblock %}